# Flutter/Dart
.dart_tool/
.dart_local/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/

# Firebase generated/local
.firebase/
firebase-debug.log

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
